//var not working here either
//@use '../../var' as *;

.theme-dark {
    --background-dark-base: var(--SL-mainCol);
    --background-base-lower: var(--SL-mainCol);
    --background-base-lowest: var(--SL-mainCol);
    --__header-bar-background: var(--SL-mainCol);

    --chat-background-default: var(--SL-msgbar);
    
    --text-brand: var(--SL-accentCol);
    --blurple-50: var(--SL-accentCol);
    --input-border-active: var(--SL-accentCol);
    --icon-feedback-warning: var(--SL-accentCol);
    --interactive-background-hover: var(--SL-accentCol);
    --control-primary-background-default: var(--SL-accentCol);

    --background-mod-normal: var(--SL-accentA);
    --background-surface-high: var(--SL-accentA);
    --background-surface-highest: var(--SL-accentA);

    --text-default: var(--SL-txtCol);
}