//var not working here either
//@use '../../var' as *;

.theme-light {
    --background-dark-base: var(--SL-mainCol-light);
    --background-base-lower: var(--SL-mainCol-light);
    --background-base-lowest: var(--SL-mainCol-light);
    --__header-bar-background: var(--SL-mainCol-light);
    
    --chat-background-default: var(--SL-msgBar-light);
    
    --text-brand: var(--SL-accentCol-light);
    --blurple-50: var(--SL-accentCol-light);
    --input-border-active: var(--SL-accentCol-light);
    --icon-feedback-warning: var(--SL-accentCol-light);
    --interactive-background-hover: var(--SL-accentCol-light);
    --control-primary-background-default: var(--SL-accentCol-light);

    --background-mod-normal: var(--SL-accentA-light);
    --background-surface-high: var(--SL-accentA-light);
    --background-surface-highest: var(--SL-accentA-light);

    --text-default: var(--SL-txtCol-light);
}