@use '../../var' as *;

//invites
.guildInviteContainer__083ae, .footerContent__083ae {
    background: none;
    border: none;
}

//embeds
.visual-refresh .embedFull__623de {border: none;}

//files
.file__0ccae {border: none;}

//the tooltip buttons
.hoverButtonGroup__06ab4,
.gifFavoriteButton__43deb {
    outline: none;
    backdrop-filter: blur(var($blur));
}