@use '../../var' as *;

._083ae98ea5145b08-guildInviteContainer, ._083ae98ea5145b08-footerContent { //invites
    background: none;
    border: none;
}

.visual-refresh ._623de82e76ad7f82-embedFull { //embeds
    border: none;
    border-left: 4px solid var($acc);
}

._0ccaee68b77c7469-file {border: none;} //files

._06ab41fd2ef7af3f-hoverButtonGroup, ._43deb08d456619a2-gifFavoriteButton { // the tooltip buttons
    outline: none;
    background: var($accB);
    backdrop-filter: blur(var($blur));
}