@use '../../var' as *;

.destinationRow_ba7598:not(.disabled_ba7598):hover {background: var($accA);}

.checkboxIndicator__714a9 {
    background: var($accA);
    border: none;

    .checkboxOption__714a9:not([data-selected]):hover:not([data-disabled]) & {
        background: var($acc);
    }
    .checkboxOption__714a9[data-selected]:hover:not([data-disabled]) & {
        background: var($acc);
        border: none;
    }
}
