@use '../../var' as *;

//Find or start convo
.e6b7699ce8339e1c-searchBar {background: var($main);}

//Friends: Online All Pending
.theme-dark ._9293f6b2fc12398a-themed {background: var($main);}

//Search Bar
.wrapper_a45028 {border: none;}

//Add Friend
._133bf5eea8e33a34-tabBar ._133bf5eea8e33a34-addFriend._133bf5eea8e33a34-addFriend._133bf5eea8e33a34-addFriend {background: var($acc);}

//Active Now
._7d20cf18f8a2784c-scroller, ._00943886e1cf89d1-wrapper, ._00943886e1cf89d1-section {border: none;}