@use '../../var' as *;

//Find or start convo
.searchBar_e6b769 {background: none;}

//Search Bar
.wrapper_a45028 {border: none;}

//Active Now
.scroller__7d20c, .wrapper__00943, .section__00943 {border: none;}