@use '../../var' as *;

.c19a557985eb7793-wrapper:hover {transition: 0.25s;}

//---------------buttons----------------//
.f7ecaca5c80dbf3a-wrapper, .f7ecaca5c80dbf3a-wrapper:hover {
    border: none;
    box-shadow: none !important;
    backdrop-filter: blur(var($blur));
    background: var($accA);
}
//--------------------------------------//

//------------reaction hover------------//
.b49891f8a231dbff-reactionTooltip {
    background: var($accA);
    backdrop-filter: blur(var($blur));
}
//--------------------------------------//