@use '../../var' as *;

//-------@User #Channel-------//
.wrapper_f61d60 {
    color: var($mention);
    background: var($mentionBg);
}

.wrapper_f61d60:hover { //hov
    color: var($txt);
    background: var($mention);
}
//----------------------------//

//----------------------------------reply bg----------------------------------//
.mentioned__5126c:before {background: var($acc);}
.mentioned__5126c, .mentioned__5126c:hover {background: var($accB) !important;}
//----------------------------------------------------------------------------//