@use '../../var' as *;

//-----------------------------------bg-----------------------------------//
.channelTextArea__74017:not(.highlighted__74017) {border: none;} //msg bar

/*Cool glow border
thanks to someone for the idea
i saw it somewhere on dc but i cant find it anymore*/
.channelTextArea__74017:not(.highlighted__74017):hover {
    border: none;
    box-shadow: 0px 0px 3px color-mix(in oklch, var($acc) 90%, transparent),
    0px 0px 5px color-mix(in oklch, var($acc) 80%, transparent);
}
//------------------------------------------------------------------------//

//useless gradient bar
.chatGradient__36d07 {background: none;}

//---------------------------------file upload---------------------------------//
.upload_aa605f {
    background: none;
    backdrop-filter: blur(var($blur)); /*need to fix*/
}

.mediaContainer__41ea0 > div:not([aria-expanded=false]) > div {background: none;}

//reply
.stackedBars__74017:not(:last-child) {border: none;}

//ping on/off
.mentionButton__841c8 {color: var($acc) !important;}
//-----------------------------------------------------------------------------//


//------------------jump to present------------------//
.bottomBar__0f481 {
    border: none;
    border-radius: 8px;
    backdrop-filter: blur(var($blur));
}

//button
.primary_a22cb0, .primary_a22cb0:hover {border: none;}
//---------------------------------------------------//

.createThreadButton__841c8 {color: var($acc) !important;}

//emoji picker :shiggy:
.autocomplete__13533 {backdrop-filter: blur(var($blur));}

//------------------------------------gif, sticker, :emoji: menus------------------------------------//
.contentWrapper__08434,
div[data-popout-animating=false] > #emoji-picker-tab-panel {
    backdrop-filter: blur(var($blur));
}

.container_fed6d3, .header_fed6d3, .header__8ef02,
.wrapper__14245, .wrapper__4106a, .inspector_aeaaeb,
.stickerInspected_c6367b .inspectedIndicator_c6367b,
.wrapper_c0e32c, .wrapper_c0e32c.isBurstReactionPicker_c0e32c,
.header_c0e32c, .emojiPicker_c0e32c, .wrapper__4e6ce {
    border: none;
    background: none;
}

//hov
.categoryFade_d02962:hover, .result__2dc39:hover {
    border: none;
    box-shadow: none;
}

.standardStickerShortcut__3ad28, .unicodeShortcut_b9ee0c {
    border: none;
    color: var($txt);
}

//hov
.emojiItem_fc7141.emojiItemSelected_fc7141  {
    transition: 0.2s;
    box-shadow: none;
}

.stickerCategoryGenericSelected__3ad28, .categoryItemDefaultCategorySelected_b9ee0c {background: none;}
//---------------------------------------------------------------------------------------------------//