@use '../../var' as *;

//-------------------------------------bg-------------------------------------//
._740174f3d6a2c8fe-themedBackground {background: var($msgBar);}

._740174f3d6a2c8fe-channelTextArea:not(._740174f3d6a2c8fe-highlighted) {border: none;} //msg bar

._740174f3d6a2c8fe-channelTextArea:not(._740174f3d6a2c8fe-highlighted):hover {
    border: none;
    box-shadow: 0px 0px 3px color-mix(in oklch, var($acc) 90%, transparent),
    0px 0px 5px color-mix(in oklch, var($acc) 80%, transparent);
}
//----------------------------------------------------------------------------//

//--------useless gradient bar--------//
._36d072eab2b2e737-chatGradient {background: none;}
//------------------------------------//

//---------------------------------file upload---------------------------------//
.aa605f19898fe32e-upload {
    background: none;
    backdrop-filter: blur(var($blur)); /*need to fix*/
}

._41ea06378162693a-mediaContainer > div:not([aria-expanded=false]) > div {background: none;}

//reply
._740174f3d6a2c8fe-stackedBars:not(:last-child) {border: none;}

._841c8f861f7b2704-mentionButton {color: var($acc) !important;} //ping on/off
//-----------------------------------------------------------------------------//


//-----------------------jump to present-----------------------//
._0f481cbbd7530492-jumpToPresentBar:active {margin-bottom: var(--space-8);}

._0f481cbbd7530492-bottomBar {
    border: none;
    border-radius: 8px;
    backdrop-filter: blur(var($blur));
}

.a22cb0c66246f5d3-primary, .a22cb0c66246f5d3-primary:hover { //button
    border: none;
    color: var($txt);
    background: var($acc) !important;
}
//-------------------------------------------------------------//

._841c8f861f7b2704-createThreadButton {color: var($acc) !important;}

//------------------emoji picker :shiggy:------------------//
._13533e3c5791980f-autocomplete {
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

._13533e3c5791980f-autocompleteRowContentSecondary {color: var($txt);}

//hov
._13533e3c5791980f-clickable[aria-disabled=false]>._13533e3c5791980f-base:hover, ._13533e3c5791980f-clickable[aria-selected=true]>._13533e3c5791980f-base {
    background-color: var($acc);
}
//---------------------------------------------------------//

//------------------------------------gif, sticker, :emoji: menus------------------------------------//
._084343c4f11eaaab-contentWrapper, div[data-popout-animating=false] > #emoji-picker-tab-panel {
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

.fed6d32841cc2da2-container, .fed6d32841cc2da2-header, ._8ef02eea17068b73-header,
._14245bb948377a25-wrapper, ._4106ae7c1472c1de-wrapper, .aeaaeb2a573807f0-inspector,
.c6367b0f171ba6d7-stickerInspected .c6367b0f171ba6d7-inspectedIndicator,
.c0e32c5cffed3d9f-wrapper, .c0e32c5cffed3d9f-wrapper.c0e32c5cffed3d9f-isBurstReactionPicker,
.c0e32c5cffed3d9f-header, .c0e32c5cffed3d9f-emojiPicker, ._4e6cebf8beed1ad8-wrapper {
    border: none;
    background: none;
}

.d02962a38047ac3c-categoryFade:hover, ._2dc39186a9b98da4-result:hover { //hov
    border: none;
    box-shadow: none;
}

._3ad28b0867fa3fad-standardStickerShortcut, .b9ee0c229bc0b6bb-unicodeShortcut {
    border: none;
    color: var($icon);
}

.fc7141859aaa98b7-emojiItem.fc7141859aaa98b7-emojiItemSelected  { //hov
    transition: 0.2s;
    background: var($accA);
}

.aeaaeb2a573807f0-topGuildEmojiBadge {background: linear-gradient(268.26deg,#bf5151,#db803f 102.45%);}

._3ad28b0867fa3fad-stickerCategoryGenericSelected, .b9ee0c229bc0b6bb-categoryItemDefaultCategorySelected {background: none;}
//---------------------------------------------------------------------------------------------------//