@use '../../var' as *;

.messagesPopoutWrap_e8b59c {
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

.header_e8b59c, .messageGroupWrapper_e8b59c {
    border: none;
    background: none;
}

//Jump to msg
.jumpButton_e8b59c {
    border: none;
    color: var($txt);
    background: var($accB);
}