@use '../../var' as *;

.e8b59c4b335dd2fc-messagesPopoutWrap {
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

.e8b59c4b335dd2fc-header, .e8b59c4b335dd2fc-messageGroupWrapper {
    border: none;
    background: none;
}

//Jump to msg
.jumpButton_e8b59c {
    border: none;
    color: var($txt);
    background: var($accB);
}