@use '../../var' as *;

@keyframes grad {
    0% {background-position: 0% 100%;}
    100% {background-position: 100% 100%;}
}

._10651c5cfe637db6-chipletContainerInner, ._10651c5cfe637db6-clickable:hover {
    background: var($grad);

    background-size: 400% auto;

    animation: grad 5s linear infinite;
}