@use '../../var' as *;

//-----------------------txt-----------------------//
.spoilerContent__54ab5.hidden__54ab5 {
    background: var($accA);
    
    --__current--spoiler-content-opacity: 1;
    --__current--spoiler-text-color: var($txt);
}

.spoilerMarkdownContent__54ab5.hidden__54ab5 {filter: blur(3px);}
//-------------------------------------------------//


//--------------------------------------------img--------------------------------------------//
.obscured__6c706.hiddenMosaicItem__6c706.hiddenSpoiler__6c706 {filter: blur($spoiler);} //blur

.spoilerContainer__54ab5 {background-color: var($acc);} //edge col
//-------------------------------------------------------------------------------------------//