@use '../../var' as *;

//-----------------------txt-----------------------//
._299eb87491f4b6d1-spoilerContent._299eb87491f4b6d1-hidden {
    background: var($accA);
    
    --__current--spoiler-content-opacity: 1;
    --__current--spoiler-text-color: var($txt);
}

._299eb87491f4b6d1-spoilerMarkdownContent._299eb87491f4b6d1-hidden {filter: blur(3px);}
//-------------------------------------------------//


//--------------------------------------------img--------------------------------------------//
._6c706db0523bd9a7-obscured._6c706db0523bd9a7-hiddenMosaicItem._6c706db0523bd9a7-hiddenSpoiler {filter: blur($spoiler);} //blur

._299eb87491f4b6d1-spoilerContainer {background-color: var($acc);} //edge col
//-------------------------------------------------------------------------------------------//