@use '../../var' as *;

.d9c8822889d1d4a1-container {
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

.d9c8822889d1d4a1-header, ._6764bd76e0340219-container {
    border: none;
    background: none;
}

//hov
._6764bd76e0340219-container:hover {background: var($accB);}

//icon
.d9c8822889d1d4a1-closeIcon, .d9c8822889d1d4a1-threadIcon {color: var($icon);}

//search
._72c3859781ebce8f-wrapper {
    border: none;
    background: #0002;
}