@use '../../var' as *;

//-------------taskbar-------------//
.c38106a3f0c3ca76-bar {background: var($main);}
//---------------------------------//

.visual-refresh .f75fb00fb7356cbe-title {
    border: none;
    background: var($main);
}

.theme-dark ._9293f6b2fc12398a-children:after {background: none}

.visual-refresh .f75fb00fb7356cbe-chat[data-has-border=true] {border: none;}

.visual-refresh ._974928fe84ca9647-searchBar {border: none;} //search bar