@use '../../var' as *;

//-------------taskbar-------------//
.bar_c38106 {background: var($main);}
//---------------------------------//

.visual-refresh .title_f75fb0 {
    border: none;
    background: var($main);
}

.theme-dark .children__9293f:after {background: none}

.visual-refresh .chat_f75fb0[data-has-border=true] {border: none;}

.visual-refresh .searchBar__97492 {border: none;} //search bar