:root {
    --background-tertiary: #ff0000;
    --background-secondary: #00ff00;
    --background-primary: #0000ff;
    --background-secondary-alt: #ffffff;
    --bg-overlay-1: #00ffff;
    --bg-overlay-3: #ffff00;

    /*BG*/
    --background-base-lower: #000 !important;

    /*Top Bar*/
    --bg-overlay-2: #000;

    /*Msg Bar*/
    --chat-background-default: #050505 !important;

    
}

/*Title Bar*/
.title_c38106 {
    border: none;
    background: #000;
}

/*Top Bar*/
.visual-refresh .f75fb00fb7356cbe-title {border: none;}

/*Msg Bar*/
:where(.visual-refresh) .channelTextArea__74017 {
    border: none;
}

.cc1819cb49c2d109-actionButtons, .aec7abc73c126bc0-button {
    --bg-surface-overlay: #000;
}
.overlay_c0bea0 {
    --bg-mod-faint: #808080;
}
._201d5e8a3c09670a-button lookBlank__201d5 footerButtonColor__537ec sizeLarge__201d5 fullWidth__201d5 grow__201d5 {
    background:#111111;
}
.c0bea05627c5dc35-outer theme-dark images-dark panel_c0bea0 {
    background-color: #696969;
}
