/**
 * @name Sleekcord
 * @author TNT4ME
 * @description A pitch black theme that's sleek and modern in every way.
 * @version 1.0.2
 * @invite G2YfSm3Md4
 * @authorId 790463558625918999
 * @source https://github.com/TNT4ME/SleekCord
 */

/*
LICENSE
* https://github.com/TNT4ME/SleekCord/blob/main/LICENSE
*/

@import url('https://tnt4me.github.io/SleekCord/dist/import.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&family=Nunito:ital@0;1&display=swap');

/*easter eggs*/
@import url('https://tnt4me.github.io/SleekCord/dist/easterEggs.css');/**/

/*PLugin support*/
@import url('https://tnt4me.github.io/SleekCord/dist/plugins/vencord/SpotifyControls.css');
/*-------------*/

:root {
    --SL-mainCol: #000; /*Main background color | Default value: #000*/
    --SL-secCol: #0c0c0c; /*Secondary background color | Default value: #0c0c0c*/
    --SL-accentCol: oklch(0.7073 0.1808 291.18); /*Secondary background color | Default value: oklch(0.7073 0.1808 291.18)*/

    --SL-gradCol1: var(--SL-accentA); /*Gradient color | Default value: --SL-accentA*/
    --SL-gradCol2: oklch(0.8909 0.2062 191.37 / 0.3); /*Gradient color 2| Default value: oklch(0.8909 0.2062 191.37 / 0.3)*/

    --SL-blur: 15px; /*Controls the blur amount of everything | Default value: 15px*/ 

    --SL-spoiler: 20px; /*Spoiler blur amount | Default value: 20px*/

    --SL-profileCol: oklch(0.7073 0.1808 291.18 / /*Profile Opacity*/ 20%);

    --SL-mentionCol: var(--SL-accentCol); /*Mention color | Default value: --SL-accentCol*/


    --SL-txtCol: #eee; /*Text color | Default value: #eee*/
    --SL-font: 'Nunito'; /*Font | Default value: 'Nunito'*/
    --SL-code: 'Jetbrains Mono', monospace; /*Code font | Default value: 'Jetbrains Mono'*/
    --SL-linkCol: oklch(0.6836 0.1563 194.769); /*Link color | Default value: */

    --SL-icon: var(--SL-txtCol); /*Icon color | Default value: --SL-txtCol*/

    --SL-msgBar: #111; /*Message bar color | Default value: #111*/
}