@use '../../var' as *;

.visual-refresh .container__2637a {
    background: var($main); //bg
    padding-bottom: unset; //removes the most annoying box in history, the one behind profile wiget thingy
}

.visual-refresh .sidebarList_c48ade {border: none;}

.visual-refresh .sidebar_c48ade:after {background: none;}

//---------------------------------channel sel & hov---------------------------------//
.wrapper__2ea32:hover { //hov
    .link__2ea32 {background: var($sec); transition: 0.3s;}
    .name__2ea32, .icon__2ea32, .actionIcon_c69b6d {color: var($txt); transition: 0.3s;}
}

//----------unread----------//
.modeUnreadImportant__2ea32 {
    .name__2ea32, &:hover .name__2ea32,
    .icon__2ea32, &:hover .icon__2ea32,
    .actionIcon_c69b6d {color: var($acc) !important;}
}
.unreadImportant__2ea32 {background: var($acc)}; //dot
//--------------------------//

.modeSelected__2ea32 { //sel
    .link__2ea32 {color: var($txt); background: var($accA);}
    .link__2ea32:hover {color: var($txt); background: var($accA); transition: 0.3s;}
}

.popout__76f04 { //threads
    background: var($accA);
    backdrop-filter: blur(var($blur));
}
//-----------------------------------------------------------------------------------//

/*--------------------thread list--------------------*/
.spine__5b40b {color: var($acc);}

.spineBorder__5b40b {background: var($acc);}
/*---------------------------------------------------*/

//------------New Unreads------------//
.unread__3b95d {
    background: var($accA);
    backdrop-filter: blur(var($blur));
}
//-----------------------------------//