@use '../../var' as *;

.visual-refresh .container__2637a {
    background: var($main); //bg
    padding-bottom: unset; //removes the most annoying box in history, the one behind profile wiget thingy
}

.visual-refresh .sidebarList_c48ade {border: none;}

.visual-refresh .sidebar_c48ade:after {background: none;}

//-------------------------------channen sel & hov-------------------------------//
.modeSelected__2ea32 .link__2ea32 {background: var($accentA);} //current channel

.popout__76f04 { //threads
    background: var($accentA);
    backdrop-filter: blur(var($blur));
}
//-------------------------------------------------------------------------------//

//------------------------channel hov------------------------//
.wrapper__2ea32:hover .link__2ea32 {
    transition: 0.3s;
    background: var($sec);
}

.wrapper__2ea32:hover .name__2ea32 {
    transition: 0.3s;
    color: var($txt);
}

.modeSelected__2ea32 .link__2ea32:hover { //current channel hov
    transition: 0.3s;
    background: var($accent);
}
//-----------------------------------------------------------//

//------------New Unreads------------//
.unread__3b95d {
    background: var($accentA);
    backdrop-filter: blur(var($blur));
}
//-----------------------------------//