@use '../../var' as *;

.visual-refresh .e6b7699ce8339e1c-privateChannels {background: var($main);}

.visual-refresh ._99e7cad8d4c55236-scroller {background: var($main);}

//dc official bot
._82f0793afa59e5dc-botTagRegular {background: var($acc);}

//-------------------------hover-------------------------//
._972a0d22c8afa7f0-interactiveSelected {
    color: var($txt);
    background: var($accA);
}

._972a0d22c8afa7f0-interactiveSelected:hover {background: var($acc);}
//-------------------------------------------------------//

//profile sidebar (right)
.user-profile-sidebar {background: var($main);}

//stupid box behind profile wiget
._99e7cad8d4c55236-scroller {margin-bottom: none;}