@use '../../var' as *;

//removes the most annoying square in history, the one behind profile //
//wiget thingy--------------------------------------------------------//
.visual-refresh .ef3116c2da186559-wrapper {
    background: var($main); //bg
    margin-bottom: unset; 
}

.dbd2630aec71879b-stack.ef3116c2da186559-scroller.d125d22cdfd32cfe-none.d125d22cdfd32cfe-scrollerBase:after {
    color: transparent;
    background: none;
    white-space: pre-wrap;
    font-family: var($code);
    content: "By TNT4\00000aME à¶ž :D\00000a1234567"; //filler txt
}
//--------------------------------------------------------------------//

//dc logo btn
._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected ._6e9f8dce4cc18de3-childWrapper {background: var($acc);}

//folders
._48112cbe77dc5022-folderGroupBackground {border: none;}

//unread server dot
._581051df43c5ebb6-item {background: var($acc);}

//----------------------------------server discover buttons-----------------------------------//
._5bc7ed9d4097f6b5-circleIconButton._5bc7ed9d4097f6b5-selected, ._5bc7ed9d4097f6b5-circleIconButton:hover:not(.disabled__5bc7e) {
    background: var($acc);
}

._5bc7ed9d4097f6b5-circleIconButton, ._5bc7ed9d4097f6b5-circleIconButton._5bc7ed9d4097f6b5-selected {
    color: var($icon);
    background: var($sec);
}
//--------------------------------------------------------------------------------------------//