@use '../var' as *;

._783321f3468cf9e8-backdrop, ._783321f3468cf9e8-withLayer { //bg when viewing img
    background: none !important;
    backdrop-filter: blur(var($blur)) !important;
}

//buttons
.cc1819cb49c2d109-actionButtons, .aec7abc73c126bc0-button {
    border: none;
    background: var($accA);
}

.aec7abc73c126bc0-buttonInner {border: none;}