@use '../var' as *;

.c8ffbb79449f399c-container {border: none;}

.f75fb00fb7356cbe-content > div { //dm & threads
    border: none;
    background: var($main);
}

.c8ffbb79449f399c-members {background: none;}