@use '../var' as *;

.container_c8ffbb {border: none;}
.clickable__91a9d:hover .childContainer__91a9d {background: var($accA);}

//dm & threads
.content_f75fb0 > div {border: none;}

.members_c8ffbb {background: none;}