@use '../var' as *;

//delete btn
.colorDanger_c1e9c4.focused_c1e9c4 {background: linear-gradient(oklab(0.71 0.17 0.16 / 0.15), oklab(0.65 0.26 0.14 / 0.15));}

.menu_c1e9c4 {
    border: none;
    background: var($accA);
}

//----------------new server tag----------------//
.popover_d6f39b, .popoverGradientWrapper_d6f39b {
    border: none;
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

.secondary__6af3a {
    border: none;
    background: var($accA);
}
//----------------------------------------------//