@use '../var' as *;

.container__37e49, .panels__5e434 { //bg
    border: none;
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

:where(.overlay_c0bea0) {background: none;}

//---------stupid bar at bottom---------//
.sidebar__5e434:after {background: none;}
//--------------------------------------//

//-----------------activity panel-----------------//
.activityPanel_c48ade {border: none;}

.showMoreButton__84832 {background: var($accB);}

.panel__5dec7 {background: none}
//------------------------------------------------//

//-------------------online n stuff-------------------//
#\:rm7\: > rect:nth-child(2),
#svg-mask-status-idle > circle:nth-child(2),     //idle
#svg-mask-status-dnd > rect,                     //dnd
#svg-mask-status-offline > circle:nth-child(2) { //invis
    fill: transparent;
}
//----------------------------------------------------//