@use '../var' as *;

//-------bg-------//
._37e49614b9f110a9-container {
    border: none;
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

._5e434347c823b592-panels  {
    border: none;
    background: none;
}
//----------------//

:where(.c0bea05627c5dc35-overlay) {background: none;}

//---------stupid bar at bottom---------//
._5e434347c823b592-sidebar:after {background: none;}
//--------------------------------------//

//-----------------activity panel-----------------//
._5e434347c823b592-activityPanel {border: none;}

.showMoreButton__84832 {background: var($accB);}

._5dec784a68542d60-panel {background: none}
//------------------------------------------------//

//-------------------online n stuff-------------------//
#\:rm7\: > rect:nth-child(2),
#svg-mask-status-idle > circle:nth-child(2),     //idle
#svg-mask-status-dnd > rect,                     //dnd
#svg-mask-status-offline > circle:nth-child(2) { //invis
    fill: transparent;
}
//----------------------------------------------------//