// var isn't working??
@use '../var' as *;

::selection {
    background: var($acc);
    color: var($main) !important;
}

:root {
    --font-primary: var(--SL-font);
    --font-code: var(--SL-code);

    --background-modifier-hover: none;
    
    --SL-accentA: color-mix(in oklch, var(--SL-accentCol), transparent 70%);
    --SL-accentB: color-mix(in oklch, var(--SL-accentCol), transparent 85%);
    --SL-accentC: color-mix(in oklch, var(--SL-accentCol), black 25%);

    --SL-accentA-light: color-mix(in oklch, var(--SL-accentCol-light), transparent 70%);
    --SL-accentB-light: color-mix(in oklch, var(--SL-accentCol-light), transparent 85%);
    --SL-accentC-light: color-mix(in oklch, var(--SL-accentCol-light), black 25%);

    --SL-mentionColBg: color-mix(in oklch, var(--SL-mentionCol), transparent 85%);
    --SL-mentionColBg-light: color-mix(in oklch, var(--SL-mentionCol-light), transparent 85%);

    --SL-grad: linear-gradient(45deg, var(--SL-gradCol1), var(--SL-gradCol2), var(--SL-gradCol1), var(--SL-gradCol2));

}

//defaults
:root {
    --SL-opacity: 100%;
    --SL-font: 'Nunito';
    --SL-code: 'Jetbrains Mono', monospace;

    --SL-mainCol: #000;
    --SL-secCol: #0c0c0c;
    --SL-accentCol: oklch(0.7073 0.1808 291.18);

    --SL-gradCol1: var(--SL-accentA);
    --SL-gradCol2: oklch(0.8909 0.2062 191.37 / 0.3);

    --SL-blur: 15px;
    --SL-spoiler: 20px;

    --SL-profileCol: var(--SL-accentA);

    --SL-mentionCol: var(--SL-accentCol);

    --SL-txtCol: #eee;
    --SL-linkCol: oklch(0.6836 0.1563 194.769);
    --SL-icon: var(--SL-txtCol);

    --SL-msgBar: color-mix(in oklch, var(--SL-mainCol), black 25%);


    --SL-mainCol-light:#eff1f5;
    --SL-secCol-light: #e3e3e3;
    --SL-accentCol-light: #d20f39;

    --SL-profileCol-light: var(--SL-accentA-light);

    --SL-mentionCol-light: var(--SL-accentCol-light);

    --SL-txtCol-light: #3b3d51;
    --SL-linkCol-light: oklch(0.5671 0.1297 194.769);
    --SL-icon-light: var(--SL-txtCol);

    --SL-msgBar-light: color-mix(in oklch, var(--SL-mainCol-light), white 25%);
}

//transparency stuff
body {background: color-mix(in oklch, var($main) var($opa), transparent);}

.appMount__51fd7,
.app__160d8,
.bg__960e4, .theme-light, .theme-dark, .theme-midnight, .images-light, .images-dark,
.container__2637a,
.privateChannels_e6b769,
.scroller__99e7c,
.container__133bf,
.tabBody__133bf,
.chat_f75fb0,

.theme-dark .themed__9293f,
.theme-light .themed__9293f,

.container_c8ffbb,

.chatContent_f75fb0,
.searchResultsWrap_a98f3b,
.searchResult__80bf8,

.channelTextArea_f75fb0,

.searchBar_c322aa,
.wrapper_d852db,
.wrapper_fc8177,

.container_f369db,
.chatTarget__01ae2,
.container__34c2c,
.divider_ee23ac,
.container__8a031,
.container__7641b,
.member_c8ffbb,
.custom-theme-background .tree_ef3116,

.applicationStore_f07d62,
.homeWrapper__0920e,
.containerBackground__02f2d,

.shop__6db1d,
.shopScroll__08415,
.shop__08415,

.scroller__23746,

.layer__960e4,
.standardSidebarView__23e6b,
.sidebarRegionScroller__23e6b,
.mainTableContainer_fa2640 {
    background: none;
}

.themedBackground__74017 {
    background: color-mix(in oklch, var($msgBar) 60%, transparent);
}

.container__01ae2 {
    backdrop-filter: blur(5px);
    background: color-mix(in oklch, var($main) 50%, transparent);
}

.outer_c0bea0 {
    background: var($profile);
}
.modalContentInner_e44912 {
    background: color-mix(in oklch, var($main) 30%, transparent);;
}

.sidebarList__5e434 {
    backdrop-filter: none;
}

.chatTypingGradientAtBottom__36d07,
.chatTypingGradientNotAtBottom__36d07 {
    background: none !important;
}

.scrim__40128 {
    background: color-mix(in oklch, var($main) 50%, transparent);
}

//Server join preview
.notice_c5cd6a {background: var($accC);}
.button_c5cd6a:hover {background: var($acc);}

//Code block
.markup__75297 code {
    background: var($accB);
    border-width: 1.5px;
}
