@use '../var' as *;

:root {
    $mentionBg: color-mix(in oklch, var($mention) 20%, transparent);

    --bg-overlay-2: var($main);
    --bg-base-secondary: var($main);
    --background-acc: var($accA);
    --background-base-low: var($main);
    --background-base-lower: var($main);
    --background-surface-high: var($sec);
    --background-surface-higher: var($msgBar);
    --background-surface-highest: var($accA);
    
    --brand-500: var($acc);

    --modal-background: none;

    --border-normal: var($acc);
    
    --chat-background-default: var($msgBar) !important;

    --mention-background: var($mentionBg) !important;
    --mention-foreground: var($mention);
    --background-mentioned: var($accB);
    --background-message-hover: var($sec);

    --info-warning-foreground: var($acc);

    --text-normal: var($txt);
    --text-default: var($txt);
    --font-primary: var($font);
    --font-code: var($code);

    --interactive-normal: var($icon);
    --background-modifier-hover: none;
    
    --FO-accentA: or-mix(in oklch, var($acc), transparent 70%);
    --FO-accentB: or-mix(in oklch, var($acc), transparent 85%);

    --FO-grad: linear-gradient(45deg, var($grad1), var($grad2), var($grad1), var($grad2));
}