// var isn't working??
//@use '../var' as *;

:root {
    --bg-overlay-2: var(--FO-mainCol);
    --bg-base-secondary: var(--FO-mainCol);
    --background-acc: var(--FO-accentA);
    --background-base-low: var(--FO-mainCol);
    --background-base-lower: var(--FO-mainCol);
    --background-surface-high: var(--FO-secCol);
    --background-surface-higher: var(--FO-msgBar);
    --background-surface-highest: var(--FO-accentA);
    
    --brand-500: var(--FO-accentCol);

    --modal-background: none;
    --autocomplete-bg: var(--FO-accentA);

    --border-normal: var(--FO-accentCol);
    
    --chat-background-default: var(--FO-msgBar) !important;

    --mention-background: var(color-mix(in oklch, var(--FO-mentionCol) 20%, transparent)) !important;
    --mention-foreground: var(--FO-mentionCol);
    --background-mentioned: var(--FO-accentB);
    --background-message-hover: var(--FO-secCol);

    --info-warning-foreground: var(--FO-accentCol);

    --text-normal: var(--FO-txtCol);
    --text-default: var(--FO-txtCol);
    --font-primary: var(--FO-font);
    --font-code: var(--FO-code);

    --interactive-normal: var(--FO-icon);
    --background-modifier-hover: none;
    
    --FO-accentA: color-mix(in oklch, var(--FO-accentCol), transparent 70%);
    --FO-accentB: color-mix(in oklch, var(--FO-accentCol), transparent 85%);

    --FO-grad: linear-gradient(45deg, var(--FO-gradCol1), var(--FO-gradCol2), var(--FO-gradCol1), var(--FO-gradCol2));
}