@use '../var' as *;

//------------Search Bar------------//
.searchBar_c322aa {background: var(--background-base-dark);}
.container__16eb0 {
	border: none;
	backdrop-filter: blur(var($blur));
}
.searchToken_bd8186 {
	border: none;
	background: var(--accC);
}
.item__971b5 {
	mask-image: none;
	-webkit-mask-image: none;
}
//----------------------------------//

.button_a22cb0:hover {background: var(--text-brand);}

.searchResult__80bf8 {border: none;}
.button__80bf8 {background: var(--accC);}
.button__80bf8:hover {background: var(--text-brand);}