@use '../var' as *;

.container_dca174, .spinnerContainer_d3846c  {
    border: none;
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

//txt col
.members__6e500 div,
.established__6e500 div {color: var($txt) !important;}