@use '../var' as *;

.dca174a2baed7ac1-container, .d3846c099147bad3-spinnerContainer  {
    border: none;
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

//txt col
._6e5000705ad8bf77-members div,
._6e5000705ad8bf77-established div {color: var($txt) !important;}