@use '../var' as *;

.tooltip__4e35b {
    box-shadow: none;
    backdrop-filter: blur(var($blur));
}

//arrow
.caret__5bc6a {opacity: 0;}

.tooltipPrimary_c36707 {
	--tooltip-pointer-bg: none;

	border: none;
	background: none;
	backdrop-filter: blur(var($blur));
}

.tooltipPointer_c36707.tooltipPointerBg_c36707 {display: none;}