@use '../var' as *;

._4e35b986167c457d-tooltip {
    color: var($txt);
    box-shadow: none;
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

._5bc6a0adc149eda0-caret { //arrow
    opacity: 0;
}