@use '../var' as *;

.c36707910f687430-tooltipPrimary {
    --tooltip-pointer-bg: none;

    border: none;
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

.c36707910f687430-tooltipPointer.c36707910f687430-tooltipPointerBg {display: none;}