@use '../var' as *;

.tooltipPrimary_c36707 {
    --tooltip-pointer-bg: none;

    border: none;
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

.tooltipPointer_c36707.tooltipPointerBg_c36707 {display: none;}