@use '../var' as *;

.tooltipPrimary__382e7 {
    --tooltip-pointer-bg: none;

    border: none;
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

.tooltipPointer__382e7.tooltipPointerBg__382e7 {display: none;}