@use '../var' as *;

.tooltipPrimary__c36707 {
    --tooltip-pointer-bg: none;

    border: none;
    background: var($accA);
    backdrop-filter: blur(var($blur));
}

.tooltipPointer__c36707.tooltipPointerBg__c36707 {display: none;}