$main: --SL-mainCol;
$sec: --SL-secCol;
$acc: --SL-accentCol;
$msgBar: --SL-msgBar;

$accB: --SL-accentB;
$accA: --SL-accentA;
$accC: --SL-accentC;

$grad: --SL-grad;
$grad1: --SL-gradCol1;
$grad2: --SL-gradCol2;

$blur: --SL-blur;
$opa: --SL-opa;

$mention: --SL-mentionCol;
$mentionBg: --SL-mentionColBg;

$spoiler: --SL-spoiler;

$profile: --SL-profileCol;

$txt: --SL-txtCol;
$link: --SL-linkCol;
$code: --SL-code;

$icon: --SL-icon;

$vidBg: --SL-vidBg;