$main: --FO-mainCol;
$sec: --FO-secCol;
$acc: --FO-accentCol;
$msgBar: --FO-msgBar;

$accB: --FO-accentB;
$accA: --FO-accentA;

$grad: --FO-grad;
$grad1: --FO-gradCol1;
$grad2: --FO-gradCol2;

$blur: --FO-blur;
$opa: --FO-opa;

$mention: --FO-mentionCol;
$mentionBg: --FO-mentionColBg;

$spoiler: --FO-spoiler;

$profile: --FO-profileCol;
$profileOpa: --FO-profileOpa;

$txt: --FO-txtCol;
$link: --FO-linkCol;
$code: --FO-code;

$icon: --FO-icon;

$vidBg: --FO-vidBg;