$main: --FO-mainCol;
$sec: --FO-secCol;
$acc: --FO-accentCol;
$msgBar: --FO-msgBar;

$accB: --FO-accentB;
$accA: --FO-accentA;
$grad: --FO-grad;

$blur: --FO-blur;
$opa: --FO-opa;

$mention: --FO-mentionCol;

$spoiler: --FO-spoiler;

$profile: --FO-profileCol;
$profileOpa: --FO-profileOpa;

$txt: --FO-txtCol;
$link: --FO-linkCol;
$code: --FO-code;

$icon: --FO-icon;

$vidBg: --FO-vidBg;