$main: --background-dark-base;
$sec: --SL-secCol;
$msgBar: --chat-background-default;

$acc: --text-brand;
$accA: --blurple-1;
$accB: --primary-600-hsl;
$accC: --accC;

$grad: --SL-grad;
$grad1: --SL-gradCol1;
$grad2: --SL-gradCol2;

$blur: --SL-blur;

$ping: --mention-foreground;
$pingBg: --mention-background;

$spoiler: --SL-spoiler;

$profile: --profile;

$txt: --text-default;
$link: --text-link;
$code: --SL-code;

$vidBg: --SL-vidBg;