@use '../../var' as *;

//----------------------Appearance----------------------//
.cardPrimary__73069, .cardPrimary__73069.editable__73069 {
    background: var($main);
}
.defaultThemeSelection__36dee,
.appIconSelection__8a3d7 {
    box-shadow: none;
}

.container_a1d343, .colorThemesBackground_fbfab6 {
    background: var($accA);
}
//------------------------------------------------------//


//------------------Accessibility------------------//
.card__73069:not(.outline__73069) {background: none}
//-------------------------------------------------//


//---------Keybinds---------//
.container__7700a,
.defaultKeybindGroup__740f2 {
    border: none;
}
//--------------------------//