@use '../../var' as *;

//--------------main bg--------------//
.container__8a031 {
	border: none;
	background: var($accA);
	backdrop-filter: blur(var($blur));
}
.container_abd9a8
{color: var($txt);}
//-----------------------------------//

//----------------------------left----------------------------//
.fixedContent__409aa:after //ugly grad below search
{content: none;}

.section__409aa
{border-bottom: 2px solid var($acc);} //section lines

.label__409aa,
.item_caf372
{color: var($txt) !important;} //txt

.item_caf372.active_caf372,
.item_caf372:hover {
	background: var($accB);
	color: var($acc) !important;
} //sel/hov

.bd-text-muted {color: var($acc);} //bd debug info
.anchor_edefb8 {color: var($link);} //link
//------------------------------------------------------------//

//---------------right---------------//
.content_e9e3ed { //bg
	background: none;
	border-left: 2px solid var($acc);
}
.contentHeader_e9e3ed { //top
	border: none;
	background: none;
}
//-----------------------------------//