@use '../../var' as *;

.selectDropdown__0edde {
	border: none;
	background: var(--accC);
}

//main bg
.container__8a031 {
	border: none;
	background: var(--blurple-1);
	backdrop-filter: blur(var($blur));
}

//----------------------------left----------------------------//
//ugly grad below search
.fixedContent__409aa:after{content: none;}

//section lines
.section__409aa {border-bottom: 2px solid var(--text-brand);}

//txt
.label__409aa, .item_caf372 {color: var(--text-default) !important;}

//sel/hov
.item_caf372.active_caf372,
.item_caf372:hover {
	background: var(--accB);
	color: var(--text-brand) !important;
}
//------------------------------------------------------------//

//------------------right------------------//
.content_e9e3ed { //bg
	background: none;
	border-left: 2px solid var(--text-brand);
}
.contentHeader_e9e3ed { //top
	border: none;
	background: none;
}
//-----------------------------------------//